.container {
	text-align: left;
	margin: 0 auto;
	font-family: Montserrat;
}
label {
	font-size: 11pt;
}
input, select, textarea {
	display: block;
	border-radius: 5px;
	border: 1px solid gray;
	width: 15vw;
	font-family: Montserrat;
	padding: 3px 5px;
	font-size: 10pt;
	margin: 1vh 0vw 2vh 0vw;
}
select {
	width: 15.8vw;	
}
button {
	color: white;
	border-radius: 5px;
	background-color: green;
	font-family: Montserrat;
	border: none;
	cursor: pointer;
	padding: 1vh 1vw;
}
button:hover {
	background-color: darkgreen
}
